.MainCard6{
    width: 73%;
    /* border: 2px solid red; */
    margin: 5vw 0 0 13.5vw;
    display: flex;
    flex-direction: column;
}
.MainCard6>h1{
    font-size: 3vw;
}
.MainCard6>p{
    font-size: 1vw;
}
.hammasi>h1{
    font-size: 3vw;
}
.hammasi>p{
    font-size: 1vw;
    color: #00B9B6;
}
.hammasi>.Chap>.box1>img{
    width: 3vw;
    position: absolute;
    z-index: -1;
}
.hammasi>.Chap>.box1>h1{
    font-size: 2vw;
    margin-left: 3vw;
}
.hammasi>.Chap>.box1>p{
    font-size: 1vw;
    margin-left: 3vw;
}
.hammasi>.Chap>.box2>h1{
    font-size: 2vw;
    margin-left: 3vw;
}
.hammasi>.Chap>.box2>p{
    font-size: 1vw;
    margin-left: 3vw;
}
.hammasi>.Chap>.box3>h1{
    font-size: 2vw;
    margin-left: 3vw;
}
.hammasi>.Chap>.box3>p{
    font-size: 1vw;
    margin-left: 3vw;
}
.hammasi>.Chap>.box2>img{
    width: 5vw;
    position: absolute;
    z-index: -1;
}
.hammasi>.Chap>.box2{
    margin-top: 5vw;
}
.hammasi>.Chap>.box3{
    margin-top: 5vw;
}
.hammasi>.Chap>.box3>img{
    width: 5vw;
    position: absolute;
    z-index: -1;
}
.hammasi{
    display: flex;
}
.ong>img{
    width: 30vw;
}
@media only screen and (max-width:360px){
    .hammasi{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}