.MainCard5 {
  width: 73%;
  /* border: 2px solid red; */
  display: flex;
  margin: 0 0 0 13.5vw;
  background: #00b9b61a;
  border-radius: 2vw;
  margin-top: 5vw;
}
.MainCard5 > .box1 > img {
  width: 30vw;
  margin-top: -5vw;
}
.MainCard5 > .box2 > h1 {
  font-size: 2vw;
}
.box2 > .box1 > h1 {
  font-size: 2vw;
}
.box2 > .box1 > p {
  font-size: 1vw;
}
.box2 > .box2 > h1 {
  font-size: 2vw;
}
.box2 > .box2 > p {
  font-size: 1vw;
}
.box2 > .box3 > h1 {
  font-size: 2vw;
}
.box2 > .box3 > p {
  font-size: 1vw;
}
@media only screen and (max-width: 761px) {
    .MainCard5{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
}
